/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playwrite US Modern", cursive;
  color: #fff;
  background: #000;
  overflow-x: hidden;
}

/* Background Dotted Animation */
.background {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: radial-gradient(circle, #00ffff 1px, transparent 1px);
  background-size: 20px 20px;
  animation: moveDots 10s linear infinite;
  z-index: -1;
  opacity: 0.6;
}
@keyframes moveDots {
  from { background-position: 0 0; }
  to { background-position: 100px 100px; }
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between; /* logo left, menu right */
  align-items: center;
  padding: 15px 40px;
}

.logo {
  font-size: 1.5rem;
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
}

/* Home */
.home {
  font-size: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.neon {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}
p {
  margin-top: 10px;
  color: #ddd;
}

/* Sections */
section {
  padding: 60px 10%;
  text-align: center;
}
.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}

/* Skills */
#skills {
  text-align: center;
  padding: 60px 20px;
  color: white;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}
.skill-card {
  background: rgba(0,0,0,1);
  padding: 20px;
  border-radius: 12px;
  box-shadow:0 0 20px #00ffff;
  width: 120px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}
.skill-card:hover {
  transform: scale(1.1);
  
}

/* Projects */
.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  background: rgba(0,0,0,0.7);
  border: 1px solid #00ffff;
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 0 20px #00ffff;
  transition: transform 0.3s;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 40px #00ffff;
}
.card a {
  text-decoration: none;
  color: inherit;
}

/* Contact */
.contact a {
  color: #00ffff;
  text-decoration: none;
}
.contact a:hover {
  text-shadow: 0 0 10px #00ffff;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: rgba(0,0,0,0);
  font-size: 0.9rem;
  color: #aaa;
}
